.button {
  font-size: 1rem;
  padding: 0.5em 1.25em;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.33s ease;

  color: var(--primary);
  background: var(--light-gray);
  border: 1px solid var(--light-gray);
}

.button:not(:disabled):hover {
  filter: brightness(110%);
}

.button:disabled {
  pointer-events: none;
  box-shadow: none;
  color: var(--disabled-text);
  border-color: var(--disabled-background);
  background-color: var(--disabled-background);
  cursor: inherit;
}

.primary {
  color: var(--white);
  background-color: var(--green);
  border-color: var(--green);
}
