.wrapper {
  position: relative;
  display: inline-flex;
}

.fieldInput {
  margin: 0;
  max-width: 100%;
  flex: 1 0 auto;
  outline: 0;
  text-align: left;
  padding: 0.5em 1em;
  transition: all 0.33s ease;
  box-shadow: none;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.fieldInput:active,
.fieldInput:focus {
  border-color: var(--active);
}

.field > label {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.fieldError,
.fieldError > label {
  color: var(--danger);
}
.fieldError .fieldInput {
  border-color: var(--danger) !important;
}

.error {
  font-size: 0.8rem;
  color: var(--error);
}
