.wrapper {
  position: relative;
  display: inline-flex;
}

.wrapper > select {
  margin: 0;
  max-width: 100%;
  flex: 1 0 auto;
  outline: 0;
  text-align: left;
  padding: 0.5em 1em;
  transition: all 0.33s ease;
  box-shadow: none;
  font-size: 1rem;

  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.wrapper > select:active,
.wrapper > select:focus {
  border-color: var(--active);
}
