.root {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
}

.wrapper {
  overflow: auto;
}

.table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.sortable {
  cursor: pointer;
}
.table th > div {
  display: flex;
  align-items: center;
  gap: var(--spacing);
}

.table th,
.table td {
  padding: calc(var(--spacing) * 1.5);
  text-align: left;
}
.table td {
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: var(--border-color);
}
